{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <title>Education Meeting HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/avatar.css' %}">


<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>
<!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>This is an educational <em>HTML CSS</em> template by TemplateMo website.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        {% for head in header|slice:":1" %}
                        {{ head.logo }}
                        {% endfor %}
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <!-- Генерация элементов меню из контекста -->
                        {% for m in menu|slice:":5" %}
                            <li class="scroll-to-section">
                                <a href="/" class="active">{{ m.menu }}</a>
                            </li>
                        {% endfor %}
                        <!-- Статические ссылки -->
                        <li class="scroll-to-section"><a href="#apply">Подать заявку</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Страницы</a>
                            <ul class="sub-menu">
                                <li><a href="/meetings">Предстоящие встречи</a></li>
                                <li><a href="/meeting/details">Детали встречи</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#courses">Курсы</a></li>
                        <li class="scroll-to-section"><a href="#contact">Контакты</a></li>
                    </ul>
                    <!-- Блок для авторизации справа -->
                    <ul class="auth-links">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="/" class="authenticated">
                                    <img src="{% static 'assets/images/images.jpg' %}" alt="Avatar" class="avatar">
                                    {{ user.email }}
                                </a>
                            </li>
                            <li><a href="/logout" class="logout-link"><i class="fas fa-sign-out-alt"></i></a></li> <!-- Иконка выхода -->
                        {% else %}
                            <li><a href="/login" class="login-link">Войти</a></li>
                            <li><a href="/signup" class="signup-link">Зарегистрироваться</a></li>
                        {% endif %}
                    </ul>

                    <!-- Кнопка-триггер для мобильного меню -->
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->



