<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Log in &amp; Sign up</title>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <style>
    /* Добавление стилей для фонового видео */
    #bg-video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; /* Видео будет находиться за содержимым */
    }
  </style>
</head>
<body>
<!-- Фоновое видео -->
<video autoplay muted loop id="bg-video">
  <source src="{% static 'assets/images/login_video.mp4' %}" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="title-text">
    <div class="title signup">Sign up</div>
    <div class="title login">Log in</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login">
      <input type="radio" name="slide" id="signup" checked>
      <label for="login" class="slide login">
        <a href="{% url 'login' %}">Log In</a>
      </label>
      <label for="signup" class="slide signup">Sign Up</label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <!-- Форма регистрации -->
      <form method="POST" class="signup">
        {% csrf_token %}
        <div class="field">
          <!-- Поле email из формы Django -->
          {{ form.email }}
        </div>
        <div class="field">
          <!-- Поле пароля из формы Django -->
          {{ form.password1 }}
        </div>
        <div class="field">
          <!-- Поле подтверждения пароля из формы Django -->
          {{ form.password2 }}
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Signup">
        </div>
        <div class="signup-link">
          Already have an account? <a href="{% url 'login' %}">Log In</a>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- partial -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>
