<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Log in & Sign up</title>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <style>
    /* Добавление стилей для фонового видео */
    #bg-video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; /* Видео будет находиться за содержимым */
    }
  </style>
</head>
<body>
<!-- Фоновое видео -->
<video autoplay muted loop id="bg-video">
  <source src="{% static 'assets/images/login_video.mp4' %}" type="video/mp4" />
  Your browser does not support the video tag.
</video>


<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="title-text">
    <div class="title login">Log in</div>
    <div class="title signup">Sign Up</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login">Log in</label>
      <label for="signup" class="slide signup">
        <a href="{% url 'signup' %}">Sign Up</a>
      </label>

      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <!-- Форма логина -->
      <form method="post" class="login">
        {% csrf_token %}
        <div class="field">
          <!-- Поле для email -->
          {{ form.username }}
        </div>
        <div class="field">
          <!-- Поле для пароля -->
          {{ form.password }}
        </div>
        <div class="pass-link"><a href="#">Forgot password?</a></div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Log in">
        </div>
        <div class="signup-link">Do not have an account? <a href="/signup">Sign Up</a></div>
      </form>

      <!-- Форма регистрации -->
      <form action="#" class="signup">
        <div class="field">
          <input type="text" placeholder="Email Address" required>
        </div>
        <div class="field">
          <input type="password" placeholder="Password" required>
        </div>
        <div class="field">
          <input type="password" placeholder="Confirm password" required>
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Signup">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- partial -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>


