# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Django specific
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS specific files
Thumbs.db
.DS_Store


*.pyc
__pycache__/

