{% extends 'admin/index.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-light text-dark">
        <h3 class="card-title m-0">Delete About</h3>
    </div>
    <div class="card-body">
        <h5 class="text-danger">Are you sure you want to delete About ID: {{ about.id }}?</h5>
        <div class="mt-5">
            <form method="POST" class="d-flex justify-content-between">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Yes, delete
                </button>
                <a href="{% url 'about_list' %}" class="btn btn-light btn-sm text-dark font-weight-bold">
                    <i class="fas fa-arrow-left"></i> Cancel
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
