{% extends 'admin/index.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-light text-dark">
        <h3 class="card-title m-0">Delete Banner</h3>
    </div>
    <div class="card-body">
        <h5 class="text-danger">Are you sure you want to delete Banner ID: {{ banner.id }}?</h5>
        <div class="d-flex justify-content-between mt-5">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Yes, Delete
                </button>
            </form>
            <a href="{% url 'banner_list' %}" class="btn btn-light btn-sm text-dark font-weight-bold">
                <i class="fas fa-arrow-left"></i> Cancel
            </a>
        </div>
    </div>
</div>
{% endblock %}


