{% extends 'admin/index.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-light text-dark">
        <h3 class="card-title m-0">Delete Carousel</h3>
    </div>
    <div class="card-body">
        <h5 class="text-danger">Are you sure you want to delete Carousel ID: {{ carousel.id }}?</h5>
        <form method="POST" class="d-flex justify-content-between mt-5">
            {% csrf_token %}
            <div>
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Yes, Delete
                </button>
            </div>
            <div>
                <a href="{% url 'carousel_list' %}" class="btn btn-secondary btn-sm text-white font-weight-bold">
                    <i class="fas fa-arrow-left"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
