{% extends 'admin/index.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-light text-dark">
        <h3 class="card-title m-0">{% if fact %}Edit Fact{% else %}Create Fact{% endif %}</h3>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-info btn-sm">
                    <i class="fas fa-save"></i> Save changes
                </button>
                <a href="{% url 'fact_list' %}" class="btn btn-light btn-sm text-dark font-weight-bold">
                    <i class="fas fa-arrow-left"></i> Back
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
